/* ****************** Body, head etc ****************** */
body {
	margin: 2;
	padding: 0;
}

header {
	background-color: #dfcaed;
	color: #0f0e0e;
	text-align: center;
	vertical-align: center;
	height: 60px;
	padding-top: 5px;
	display: block;
	margin-top: 3px;
	margin-bottom: 2px;
	position: center;
	width: 50%%;
	padding-bottom: 0;
}

p {
	font-size: 22pt;
	font-weight: bold;
	font-family: serif;
	position: center;
	vertical-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

a {
	color: #00ead3;
	text-decoration: none;
}
}
a:hover {
  background-color: #0042ea; 
}
a:visited {
	color: #bd3306;
}

/* ****************** Table style ****************** */
.container {
	position: relative;
}

#tab-tic-tac-toe {
	margin-left: auto;
	margin-right: 100px;
	font-size: 4em;
	font-family: serif;
	color: #000000;
	background: #F8F8F8;
	width: 300px;
	height: 300px;
	text-align: center;
	vertical-align: center;
	border: 1px solid #fcbdbd;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #CCC;
}

/*Column style*/
#tab-tic-tac-toe td {
	border-collapse:collapse;
	border-left: 5px solid #CCC;
	border-bottom: 5px solid #CCC;
}

#tab-tic-tac-toe td:first-child {
	border-left: none;
}

#tab-tic-tac-toe tr:last-child td {
	border-bottom: none;
}

/*Cells*/
#tab-tic-tac-toe td {
	cursor: pointer;
	height: 95px;
	width: 95px;
}

#tab-tic-tac-toe td:hover {
	background-color: #00ead3; 
}

.output-text {
  	background: #00FFFF;
  	opacity: 1;
  	font-size: 4em;
	font-family: Sans;
	color: #0c2247;
	text-align: center;
	vertical-align: center;
	margin-top: auto;
	margin-bottom: 50px;
}

/* ****************** Restart Button ****************** */
#btn-restart,.diff-level,.players {
	padding: 10px;
	margin-left: 90px;
	width: 150px;
	background: #3746ed;
	font-size: 1em;
	color: #FFF;
	border-color: #97e5e8;
	border-width: thin;
	border-radius: 12px;
	cursor: pointer;
}

#btn-restart{
	float :left;
}

#player-buttons{
	margin-left: 0px;
	margin-right: auto;
	diplay : block;
	margin: 50px 0px;
	justify-content: left;
}

#diff-buttons{
	margin-left: 0px;
	margin-right: auto;
	margin: 50px 0px;
	display: block;
	float: left;
	justify-content:left;
	border-radius : 80%;
}
#btn-restart:hover, .diff-level:hover, .players:hover {
	background: #07b37d;
}

#btn-restart:active, .diff-level:active, .players:hover {
	background: #07b37d;
}

#btn-restart:disabled, .diff-level:disabled, .players:disabled {
	color: #444;
	background: #CECECE;
}

.diff-level.active{
	background: #dfcaed;
}

.players.active-player{
	background: #dfcaed;
}

.hidden{
	display: none;
}


